rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, update: if request.auth != null && (request.auth.uid == userId || request.auth.token.role == 'superadmin');
      allow write: if request.auth != null || request.auth.token.role == 'superadmin'

        match /analysis_history/{document} {
            allow read: if request.auth != null && (request.auth.uid == userId || request.auth.token.role == 'superadmin');
            allow write: if request.auth != null || request.auth.token.role == 'superadmin'
        }

        match /batch_history/{document} {
            allow read: if request.auth != null && (request.auth.uid == userId || request.auth.token.role == 'superadmin');
            allow write: if request.auth != null || request.auth.token.role == 'superadmin'
        }

        match /fda_history/{document} {
            allow read: if request.auth != null && (request.auth.uid == userId || request.auth.token.role == 'superadmin');
            allow write: if request.auth != null || request.auth.token.role == 'superadmin'
        }
    }

    match /app_config/ingredients_config {
      allow read, write: if request.auth != null && (request.auth.token.role == 'superadmin' || request.auth.token.role == 'admin')
    }

    match /consumer_guides/{consumerGuideItem} {
      allow read: if true;
      allow write: if request.auth != null && (request.auth.token.role == 'superadmin' || request.auth.token.role == 'admin');
    }

    match /myth_facts/{mythFactItem} {
      allow read: if true;
      allow write: if request.auth != null && (request.auth.token.role == 'superadmin' || request.auth.token.role == 'admin');
    }

    match /ingredients_glossary/{ingredient} {
      allow read: if true;
      allow write: if request.auth != null && (request.auth.token.role == 'superadmin' || request.auth.token.role == 'admin');
    }

    match /promptActivityLogs/{promptLog} {
      allow read, write: if request.auth != null && (request.auth.token.role == 'superadmin' || request.auth.token.role == 'admin');
    }

    match /prompts/{prompt} {   
        allow read, write: if request.auth != null && (request.auth.token.role == 'superadmin' || request.auth.token.role == 'admin');

        match /versions/{version} {
          allow read, write: if request.auth != null && (request.auth.token.role == 'superadmin' || request.auth.token.role == 'admin');
        }
    }

    match /email_verification/{email} {
      allow read, write: if request.auth != null && request.auth.token.role == 'superadmin';
    }

    match /otp_rate_limits/{document} {
      allow read, write: if request.auth != null && request.auth.token.role == 'superadmin';
    }

    match /login_attempts/{document} {
      allow read, write: if request.auth != null && request.auth.token.role == 'superadmin';
    }

  }
}
